{"swagger":"2.0","info":{"title":"The kasoshojo API","description":"News and vote data","version":""},"host":"api.kasoshojo.com","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/auth/":{"get":{"tags":["auth"],"summary":"secure auth","description":"This action will test authentication\n\nRequired security scopes:\n  * `api:user`","operationId":"auth#secure","produces":["text/plain"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/auth/signin":{"post":{"tags":["auth"],"summary":"signin auth","description":"Creates a valid JWT","operationId":"auth#signin","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/SigninAuthPayload"}}],"responses":{"204":{"description":"No Content","headers":{"Authorization":{"description":"Generated JWT","type":"string"}}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/health_check":{"get":{"tags":["health"],"summary":"health health","description":"Perform health check.","operationId":"health#health","produces":["text/plain"],"responses":{"200":{"description":"OK"}},"schemes":["http"]}},"/messages/me":{"get":{"tags":["messages"],"summary":"list messages","description":"Get messages list\n\nRequired security scopes:\n  * `api:user`","operationId":"messages#list","produces":["application/vnd.goa.message+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaMessageCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/messages/me/{id}":{"post":{"tags":["messages"],"summary":"read messages","description":"Mark message as red\n\nRequired security scopes:\n  * `api:user`","operationId":"messages#read","parameters":[{"name":"id","in":"path","description":"Message ID","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/news/":{"get":{"tags":["news"],"summary":"list news","description":"Get news list","operationId":"news#list","produces":["application/vnd.goa.news+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaNewsCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"]}},"/surveys/":{"get":{"tags":["surveys"],"summary":"list surveys","description":"Get news list\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#list","produces":["application/vnd.goa.survey+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaSurveyCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/surveys/{id}":{"get":{"tags":["surveys"],"summary":"get surveys","description":"Get news list\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#get","produces":["application/vnd.goa.survey+json"],"parameters":[{"name":"id","in":"path","description":"Survey ID","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaSurvey"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/surveys/{id}/results":{"post":{"tags":["surveys"],"summary":"vote surveys","description":"Register an answer\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#vote","parameters":[{"name":"id","in":"path","description":"Survey ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/SurveyResultPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/swagger.json":{"get":{"summary":"Download swagger/swagger.json","operationId":"swagger#/swagger.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http"]}},"/users/":{"post":{"tags":["users"],"summary":"register users","description":"Register a new user","operationId":"users#register","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/Registerrequest"}}],"responses":{"204":{"description":"No Content"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"}},"schemes":["http"]}},"/users/forgot":{"post":{"tags":["users"],"summary":"forgotpassword users","description":"Retrieve a new password\n\nRequired security scopes:\n  * `api:user`","operationId":"users#forgotpassword","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/ForgotpasswordUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me":{"get":{"tags":["users"],"summary":"view users","description":"Get user by authorization token\n\nRequired security scopes:\n  * `api:user`","operationId":"users#view","produces":["application/vnd.goa.user+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaUser"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]},"put":{"tags":["users"],"summary":"update users","description":"Update user by authorization token\n\nRequired security scopes:\n  * `api:user`","operationId":"users#update","produces":["application/vnd.goa.user+json"],"parameters":[{"name":"payload","in":"body","description":"A user","required":true,"schema":{"$ref":"#/definitions/UpdateUsersPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaUser"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"409":{"description":"Conflict"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me/codes":{"post":{"tags":["users"],"summary":"addcode users","description":"Add a voting code\n\nRequired security scopes:\n  * `api:user`","operationId":"users#addcode","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/AddcodeUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"409":{"description":"Conflict"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me/password":{"post":{"tags":["users"],"summary":"updatepassword users","description":"Set a new password\n\nRequired security scopes:\n  * `api:user`","operationId":"users#updatepassword","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdatepasswordUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}}},"definitions":{"AddcodeUsersPayload":{"title":"AddcodeUsersPayload","type":"object","properties":{"code":{"type":"string","example":"Laboriosam dicta distinctio quisquam et et."}},"example":{"code":"Laboriosam dicta distinctio quisquam et et."},"required":["code"]},"ForgotpasswordUsersPayload":{"title":"ForgotpasswordUsersPayload","type":"object","properties":{"securityanswer":{"type":"string","example":"Deserunt animi."},"securityquestion":{"type":"string","example":"Officiis atque tenetur dolores laboriosam vel at."},"username":{"type":"string","description":"Username","example":"Veritatis vel et ut enim id."}},"example":{"securityanswer":"Deserunt animi.","securityquestion":"Officiis atque tenetur dolores laboriosam vel at.","username":"Veritatis vel et ut enim id."},"required":["username","securityquestion","securityanswer"]},"GoaMessage":{"title":"Mediatype identifier: application/vnd.goa.message+json; view=default","type":"object","properties":{"body":{"type":"string","description":"Body","example":"Qui non aut in eum."},"created_at":{"type":"string","description":"Record created timestamp","example":"1973-06-28T15:55:33+09:00","format":"date-time"},"date":{"type":"string","description":"Date posted","example":"1983-05-14T01:49:52+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":971980360347814819,"format":"int64"},"read":{"type":"boolean","description":"User has read the message","example":false},"title":{"type":"string","description":"Title","example":"Qui molestiae laborum."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"2007-05-02T17:24:47+09:00","format":"date-time"}},"description":"A message item (default view)","example":{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"},"required":["id","title","body","date","read","created_at"]},"GoaMessageCollection":{"title":"Mediatype identifier: application/vnd.goa.message+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaMessage"},"description":"GoaMessageCollection is the media type for an array of GoaMessage (default view)","example":[{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"},{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"},{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"}]},"GoaNews":{"title":"Mediatype identifier: application/vnd.goa.news+json; view=default","type":"object","properties":{"created_at":{"type":"string","description":"Record created timestamp","example":"2000-04-11T17:00:35+09:00","format":"date-time"},"date":{"type":"string","description":"Date posted","example":"1982-04-26T06:55:54+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":87161622617815826,"format":"int64"},"image_url":{"type":"string","description":"Image url","example":"Fugiat placeat possimus nihil aperiam."},"title":{"type":"string","description":"Title","example":"Sit iure repellat qui."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"2005-01-04T21:17:00+09:00","format":"date-time"},"url":{"type":"string","description":"News url","example":"Soluta ipsa."}},"description":"A news item (default view)","example":{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","title":"Sit iure repellat qui.","updated_at":"2005-01-04T21:17:00+09:00","url":"Soluta ipsa."},"required":["id","title","image_url","url","date","created_at"]},"GoaNewsCollection":{"title":"Mediatype identifier: application/vnd.goa.news+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaNews"},"description":"GoaNewsCollection is the media type for an array of GoaNews (default view)","example":[{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","title":"Sit iure repellat qui.","updated_at":"2005-01-04T21:17:00+09:00","url":"Soluta ipsa."},{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","title":"Sit iure repellat qui.","updated_at":"2005-01-04T21:17:00+09:00","url":"Soluta ipsa."},{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","title":"Sit iure repellat qui.","updated_at":"2005-01-04T21:17:00+09:00","url":"Soluta ipsa."}]},"GoaSurvey":{"title":"Mediatype identifier: application/vnd.goa.survey+json; view=default","type":"object","properties":{"author":{"type":"string","description":"Author","example":"Dolorem cumque."},"created_at":{"type":"string","description":"Record created timestamp","example":"1983-11-13T15:23:15+09:00","format":"date-time"},"end_date":{"type":"string","description":"End","example":"1978-07-17T18:27:00+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":7438869683962763868,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Rerum omnis."},"insertion_code":{"type":"string","description":"Insertion code","example":"Explicabo tempora."},"num_questions":{"type":"integer","description":"Number of questions","example":1810456637273703652,"format":"int64"},"questions":{"type":"array","items":{"$ref":"#/definitions/GoaSurveyquestion"},"description":"Questions","example":[{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false},{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false}]},"reward_id":{"type":"integer","description":"Reward ID","example":4478312482506905738,"format":"int64"},"start_date":{"type":"string","description":"Start","example":"1984-03-08T20:59:14+09:00","format":"date-time"},"title_en":{"type":"string","description":"Title","example":"Molestias earum modi nemo."},"title_ja":{"type":"string","description":"Title","example":"Est commodi maxime."},"type":{"type":"integer","description":"Survey type","example":6267446629801075043,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1988-06-04T18:12:59+09:00","format":"date-time"}},"description":"A survey (default view)","example":{"author":"Dolorem cumque.","created_at":"1983-11-13T15:23:15+09:00","end_date":"1978-07-17T18:27:00+09:00","id":7438869683962763868,"image_url":"Rerum omnis.","insertion_code":"Explicabo tempora.","num_questions":1810456637273703652,"questions":[{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false},{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false}],"reward_id":4478312482506905738,"start_date":"1984-03-08T20:59:14+09:00","title_en":"Molestias earum modi nemo.","title_ja":"Est commodi maxime.","type":6267446629801075043,"updated_at":"1988-06-04T18:12:59+09:00"},"required":["id","type","title_en","title_ja","image_url","num_questions","author","insertion_code","start_date","end_date","created_at","updated_at"]},"GoaSurveyCollection":{"title":"Mediatype identifier: application/vnd.goa.survey+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaSurvey"},"description":"GoaSurveyCollection is the media type for an array of GoaSurvey (default view)","example":[{"author":"Dolorem cumque.","created_at":"1983-11-13T15:23:15+09:00","end_date":"1978-07-17T18:27:00+09:00","id":7438869683962763868,"image_url":"Rerum omnis.","insertion_code":"Explicabo tempora.","num_questions":1810456637273703652,"questions":[{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false},{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false}],"reward_id":4478312482506905738,"start_date":"1984-03-08T20:59:14+09:00","title_en":"Molestias earum modi nemo.","title_ja":"Est commodi maxime.","type":6267446629801075043,"updated_at":"1988-06-04T18:12:59+09:00"}]},"GoaSurveyanswer":{"title":"Mediatype identifier: application/vnd.goa.surveyanswer+json; view=default","type":"object","properties":{"created_at":{"type":"string","description":"Record created timestamp","example":"1975-06-01T15:25:24+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":4516439604168379758,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Et rem et dolorem facilis harum eaque."},"index":{"type":"integer","description":"Index","example":8277057894092581785,"format":"int64"},"open_answer":{"type":"boolean","description":"Open answer","example":true},"text_en":{"type":"string","description":"Text","example":"Est veritatis."},"text_ja":{"type":"string","description":"Text","example":"Delectus omnis ab."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1983-11-05T06:02:54+09:00","format":"date-time"}},"description":"A survey answer (default view)","example":{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},"required":["id","text_en","text_ja","image_url","index","open_answer","created_at","updated_at"]},"GoaSurveyquestion":{"title":"Mediatype identifier: application/vnd.goa.surveyquestion+json; view=default","type":"object","properties":{"answers":{"type":"array","items":{"$ref":"#/definitions/GoaSurveyanswer"},"description":"Answers","example":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}]},"created_at":{"type":"string","description":"Record created timestamp","example":"1971-10-21T23:42:22+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":629208263495046591,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Ut tempora autem sunt doloremque quis."},"index":{"type":"integer","description":"Index","example":7239403243079632609,"format":"int64"},"num_answers":{"type":"integer","description":"Number of answers","example":8919731307599085471,"format":"int64"},"preselected_index":{"type":"integer","description":"Index of preselected answer","example":4815583975211358744,"format":"int64"},"text_en":{"type":"string","description":"Text","example":"Nisi iure quaerat dolores aut."},"text_ja":{"type":"string","description":"Text","example":"Exercitationem a voluptatum."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1975-06-11T07:36:24+09:00","format":"date-time"},"weighted":{"type":"boolean","description":"Weighted","example":false}},"description":"A survey question (default view)","example":{"answers":[{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"},{"created_at":"1975-06-01T15:25:24+09:00","id":4516439604168379758,"image_url":"Et rem et dolorem facilis harum eaque.","index":8277057894092581785,"open_answer":true,"text_en":"Est veritatis.","text_ja":"Delectus omnis ab.","updated_at":"1983-11-05T06:02:54+09:00"}],"created_at":"1971-10-21T23:42:22+09:00","id":629208263495046591,"image_url":"Ut tempora autem sunt doloremque quis.","index":7239403243079632609,"num_answers":8919731307599085471,"preselected_index":4815583975211358744,"text_en":"Nisi iure quaerat dolores aut.","text_ja":"Exercitationem a voluptatum.","updated_at":"1975-06-11T07:36:24+09:00","weighted":false},"required":["id","text_en","text_ja","image_url","index","weighted","num_answers","preselected_index","created_at","updated_at"]},"GoaUser":{"title":"Mediatype identifier: application/vnd.goa.user+json; view=default","type":"object","properties":{"birthdate":{"type":"string","description":"Birthdate","example":"1980-09-27T05:00:39+09:00","format":"date-time"},"created_at":{"type":"string","description":"Record created timestamp","example":"1981-03-06T19:31:10+09:00","format":"date-time"},"given_names":{"type":"string","description":"Given names","example":"Et modi enim dolore natus sed."},"id":{"type":"integer","description":"Unique ID","example":2833628631209984061,"format":"int64"},"last_names":{"type":"string","description":"Last names","example":"Corporis doloribus est sunt quos illum et."},"location":{"type":"string","description":"Location","example":"Quis quisquam et sit iusto."},"mail":{"type":"string","description":"E-mail address","example":"Unde omnis laudantium earum ut."},"points":{"type":"integer","description":"Points","example":3585514883827815101,"format":"int64"},"status":{"type":"integer","description":"User status","example":3991771306019880592,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1997-04-14T13:19:43+09:00","format":"date-time"},"username":{"type":"string","description":"Username","example":"Vitae nesciunt reprehenderit nisi quo."}},"description":"A user (default view)","example":{"birthdate":"1980-09-27T05:00:39+09:00","created_at":"1981-03-06T19:31:10+09:00","given_names":"Et modi enim dolore natus sed.","id":2833628631209984061,"last_names":"Corporis doloribus est sunt quos illum et.","location":"Quis quisquam et sit iusto.","mail":"Unde omnis laudantium earum ut.","points":3585514883827815101,"status":3991771306019880592,"updated_at":"1997-04-14T13:19:43+09:00","username":"Vitae nesciunt reprehenderit nisi quo."},"required":["id","username"]},"Registerrequest":{"title":"Registerrequest","type":"object","properties":{"fname":{"type":"string","description":"First name","example":"Similique impedit ipsa ipsam et veniam."},"lname":{"type":"string","description":"Last name","example":"Aut nulla sit."},"pwd":{"type":"string","description":"Login password","example":"Officia libero vitae quis est."},"referrer":{"type":"integer","description":"Referrer userid","example":1930164005099003329,"format":"int64"},"secret_answer":{"type":"string","description":"Secret answer","example":"Et sequi voluptatem minus asperiores accusamus."},"secret_question":{"type":"string","description":"Secret question","example":"Necessitatibus ipsa."},"user":{"type":"string","description":"Login username","example":"Illum sit modi eos suscipit."}},"example":{"fname":"Similique impedit ipsa ipsam et veniam.","lname":"Aut nulla sit.","pwd":"Officia libero vitae quis est.","referrer":1930164005099003329,"secret_answer":"Et sequi voluptatem minus asperiores accusamus.","secret_question":"Necessitatibus ipsa.","user":"Illum sit modi eos suscipit."},"required":["user","pwd","secret_question","secret_answer"]},"SigninAuthPayload":{"title":"SigninAuthPayload","type":"object","properties":{"password":{"type":"string","example":"Voluptas culpa."},"username":{"type":"string","example":"Ut vel qui earum consectetur laborum."}},"example":{"password":"Voluptas culpa.","username":"Ut vel qui earum consectetur laborum."},"required":["username","password"]},"SurveyResultPayload":{"title":"SurveyResultPayload","type":"object","properties":{"answer_id":{"type":"integer","description":"ID of answer","example":2035670978970210714,"format":"int64"},"question_id":{"type":"integer","description":"ID of question","example":6650558352392530481,"format":"int64"},"text":{"type":"string","description":"Answer text","example":"Praesentium harum dolorem."},"weight":{"type":"integer","description":"Weight","example":4832451956428071085,"format":"int64"}},"example":{"answer_id":2035670978970210714,"question_id":6650558352392530481,"text":"Praesentium harum dolorem.","weight":4832451956428071085},"required":["question_id","answer_id"]},"UpdateUsersPayload":{"title":"UpdateUsersPayload","type":"object","properties":{"birthdate":{"type":"string","description":"Birthdate","example":"1980-09-27T05:00:39+09:00","format":"date-time"},"created_at":{"type":"string","description":"Record created timestamp","example":"1981-03-06T19:31:10+09:00","format":"date-time"},"given_names":{"type":"string","description":"Given names","example":"Et modi enim dolore natus sed."},"id":{"type":"integer","description":"Unique ID","example":2833628631209984061,"format":"int64"},"last_names":{"type":"string","description":"Last names","example":"Corporis doloribus est sunt quos illum et."},"location":{"type":"string","description":"Location","example":"Quis quisquam et sit iusto."},"mail":{"type":"string","description":"E-mail address","example":"Unde omnis laudantium earum ut."},"points":{"type":"integer","description":"Points","example":3585514883827815101,"format":"int64"},"status":{"type":"integer","description":"User status","example":3991771306019880592,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1997-04-14T13:19:43+09:00","format":"date-time"},"username":{"type":"string","description":"Username","example":"Vitae nesciunt reprehenderit nisi quo."}},"description":"A user","example":{"birthdate":"1980-09-27T05:00:39+09:00","created_at":"1981-03-06T19:31:10+09:00","given_names":"Et modi enim dolore natus sed.","id":2833628631209984061,"last_names":"Corporis doloribus est sunt quos illum et.","location":"Quis quisquam et sit iusto.","mail":"Unde omnis laudantium earum ut.","points":3585514883827815101,"status":3991771306019880592,"updated_at":"1997-04-14T13:19:43+09:00","username":"Vitae nesciunt reprehenderit nisi quo."},"required":["id","username"]},"UpdatepasswordUsersPayload":{"title":"UpdatepasswordUsersPayload","type":"object","properties":{"oldPassword":{"type":"string","example":"Et neque nobis vel ut."},"password":{"type":"string","example":"Dolores similique error magnam."}},"example":{"oldPassword":"Et neque nobis vel ut.","password":"Dolores similique error magnam."},"required":["password"]}},"responses":{"Conflict":{"description":"Conflict"},"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK"},"Unauthorized":{"description":"Unauthorized"},"UnprocessableEntity":{"description":"Unprocessable Entity"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"\n\n**Security Scopes**:\n  * `api:admin`: Admin API access\n  * `api:user`: User API access","name":"Authorization","in":"header"}}}