{"swagger":"2.0","info":{"title":"The kasoshojo API","description":"News and vote data","version":""},"host":"api.kasoshojo.com","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/auth/":{"get":{"tags":["auth"],"summary":"secure auth","description":"This action will test authentication\n\nRequired security scopes:\n  * `api:user`","operationId":"auth#secure","produces":["text/plain"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/auth/signin":{"post":{"tags":["auth"],"summary":"signin auth","description":"Creates a valid JWT","operationId":"auth#signin","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/SigninAuthPayload"}}],"responses":{"204":{"description":"No Content","headers":{"Authorization":{"description":"Generated JWT","type":"string"}}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/health_check":{"get":{"tags":["health"],"summary":"health health","description":"Perform health check.","operationId":"health#health","produces":["text/plain"],"responses":{"200":{"description":"OK"}},"schemes":["http"]}},"/messages/me":{"get":{"tags":["messages"],"summary":"list messages","description":"Get messages list\n\nRequired security scopes:\n  * `api:user`","operationId":"messages#list","produces":["application/vnd.goa.message+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaMessageCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/messages/me/{id}":{"post":{"tags":["messages"],"summary":"read messages","description":"Mark message as red\n\nRequired security scopes:\n  * `api:user`","operationId":"messages#read","parameters":[{"name":"id","in":"path","description":"Message ID","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/news/":{"get":{"tags":["news"],"summary":"list news","description":"Get news list","operationId":"news#list","produces":["application/vnd.goa.news+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaNewsCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"]}},"/surveys/":{"get":{"tags":["surveys"],"summary":"list surveys","description":"Get news list\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#list","produces":["application/vnd.goa.survey+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaSurveyCollection"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/surveys/{id}":{"get":{"tags":["surveys"],"summary":"get surveys","description":"Get news list\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#get","produces":["application/vnd.goa.survey+json"],"parameters":[{"name":"id","in":"path","description":"Survey ID","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaSurvey"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/surveys/{id}/results":{"post":{"tags":["surveys"],"summary":"vote surveys","description":"Register an answer\n\nRequired security scopes:\n  * `api:user`","operationId":"surveys#vote","parameters":[{"name":"id","in":"path","description":"Survey ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/SurveyResultPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/swagger.json":{"get":{"summary":"Download swagger/swagger.json","operationId":"swagger#/swagger.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http"]}},"/users/":{"post":{"tags":["users"],"summary":"register users","description":"Register a new user","operationId":"users#register","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/Registerrequest"}}],"responses":{"204":{"description":"No Content"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"}},"schemes":["http"]}},"/users/forgot":{"post":{"tags":["users"],"summary":"forgotpassword users","description":"Retrieve a new password\n\nRequired security scopes:\n  * `api:user`","operationId":"users#forgotpassword","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/ForgotpasswordUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me":{"get":{"tags":["users"],"summary":"view users","description":"Get user by authorization token\n\nRequired security scopes:\n  * `api:user`","operationId":"users#view","produces":["application/vnd.goa.user+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaUser"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]},"put":{"tags":["users"],"summary":"update users","description":"Update user by authorization token\n\nRequired security scopes:\n  * `api:user`","operationId":"users#update","produces":["application/vnd.goa.user+json"],"parameters":[{"name":"payload","in":"body","description":"A user","required":true,"schema":{"$ref":"#/definitions/UpdateUsersPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GoaUser"}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"409":{"description":"Conflict"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me/codes":{"post":{"tags":["users"],"summary":"addcode users","description":"Add a voting code\n\nRequired security scopes:\n  * `api:user`","operationId":"users#addcode","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/AddcodeUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"409":{"description":"Conflict"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}},"/users/me/password":{"post":{"tags":["users"],"summary":"updatepassword users","description":"Set a new password\n\nRequired security scopes:\n  * `api:user`","operationId":"users#updatepassword","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdatepasswordUsersPayload"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"schemes":["http"],"security":[{"jwt":["api:user"]}]}}},"definitions":{"AddcodeUsersPayload":{"title":"AddcodeUsersPayload","type":"object","properties":{"code":{"type":"string","example":"Sit et."}},"example":{"code":"Sit et."},"required":["code"]},"ForgotpasswordUsersPayload":{"title":"ForgotpasswordUsersPayload","type":"object","properties":{"securityanswer":{"type":"string","example":"Libero vitae quis est."},"securityquestion":{"type":"string","example":"Molestiae et sequi."},"username":{"type":"string","description":"Username","example":"Minus asperiores accusamus."}},"example":{"securityanswer":"Libero vitae quis est.","securityquestion":"Molestiae et sequi.","username":"Minus asperiores accusamus."},"required":["username","securityquestion","securityanswer"]},"GoaMessage":{"title":"Mediatype identifier: application/vnd.goa.message+json; view=default","type":"object","properties":{"body":{"type":"string","description":"Body","example":"Qui non aut in eum."},"created_at":{"type":"string","description":"Record created timestamp","example":"1973-06-28T15:55:33+09:00","format":"date-time"},"date":{"type":"string","description":"Date posted","example":"1983-05-14T01:49:52+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":971980360347814819,"format":"int64"},"read":{"type":"boolean","description":"User has read the message","example":false},"title":{"type":"string","description":"Title","example":"Qui molestiae laborum."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"2007-05-02T17:24:47+09:00","format":"date-time"}},"description":"A message item (default view)","example":{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"},"required":["id","title","body","date","read","created_at"]},"GoaMessageCollection":{"title":"Mediatype identifier: application/vnd.goa.message+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaMessage"},"description":"GoaMessageCollection is the media type for an array of GoaMessage (default view)","example":[{"body":"Qui non aut in eum.","created_at":"1973-06-28T15:55:33+09:00","date":"1983-05-14T01:49:52+09:00","id":971980360347814819,"read":false,"title":"Qui molestiae laborum.","updated_at":"2007-05-02T17:24:47+09:00"}]},"GoaNews":{"title":"Mediatype identifier: application/vnd.goa.news+json; view=default","type":"object","properties":{"created_at":{"type":"string","description":"Record created timestamp","example":"2000-04-11T17:00:35+09:00","format":"date-time"},"date":{"type":"string","description":"Date posted","example":"1982-04-26T06:55:54+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":87161622617815826,"format":"int64"},"image_url":{"type":"string","description":"Image url","example":"Fugiat placeat possimus nihil aperiam."},"image_url_en":{"type":"string","description":"Image url","example":"Sit iure repellat qui."},"image_url_ja":{"type":"string","description":"Image url","example":"Aut soluta ipsa sit."},"title_en":{"type":"string","description":"Title","example":"Dolorem cumque."},"title_ja":{"type":"string","description":"Title","example":"Qui molestias earum rerum."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1988-04-05T13:37:58+09:00","format":"date-time"},"url":{"type":"string","description":"News url","example":"Explicabo tempora."},"url_en":{"type":"string","description":"News url","example":"Tempora tempora."},"url_ja":{"type":"string","description":"News url","example":"Dolor quisquam et rem et."}},"description":"A news item (default view)","example":{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","image_url_en":"Sit iure repellat qui.","image_url_ja":"Aut soluta ipsa sit.","title_en":"Dolorem cumque.","title_ja":"Qui molestias earum rerum.","updated_at":"1988-04-05T13:37:58+09:00","url":"Explicabo tempora.","url_en":"Tempora tempora.","url_ja":"Dolor quisquam et rem et."},"required":["id","title_en","title_ja","image_url","url","date","created_at"]},"GoaNewsCollection":{"title":"Mediatype identifier: application/vnd.goa.news+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaNews"},"description":"GoaNewsCollection is the media type for an array of GoaNews (default view)","example":[{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","image_url_en":"Sit iure repellat qui.","image_url_ja":"Aut soluta ipsa sit.","title_en":"Dolorem cumque.","title_ja":"Qui molestias earum rerum.","updated_at":"1988-04-05T13:37:58+09:00","url":"Explicabo tempora.","url_en":"Tempora tempora.","url_ja":"Dolor quisquam et rem et."},{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","image_url_en":"Sit iure repellat qui.","image_url_ja":"Aut soluta ipsa sit.","title_en":"Dolorem cumque.","title_ja":"Qui molestias earum rerum.","updated_at":"1988-04-05T13:37:58+09:00","url":"Explicabo tempora.","url_en":"Tempora tempora.","url_ja":"Dolor quisquam et rem et."},{"created_at":"2000-04-11T17:00:35+09:00","date":"1982-04-26T06:55:54+09:00","id":87161622617815826,"image_url":"Fugiat placeat possimus nihil aperiam.","image_url_en":"Sit iure repellat qui.","image_url_ja":"Aut soluta ipsa sit.","title_en":"Dolorem cumque.","title_ja":"Qui molestias earum rerum.","updated_at":"1988-04-05T13:37:58+09:00","url":"Explicabo tempora.","url_en":"Tempora tempora.","url_ja":"Dolor quisquam et rem et."}]},"GoaSurvey":{"title":"Mediatype identifier: application/vnd.goa.survey+json; view=default","type":"object","properties":{"author":{"type":"string","description":"Author","example":"Harum eaque ratione quo quia est."},"created_at":{"type":"string","description":"Record created timestamp","example":"2015-12-12T10:58:01+09:00","format":"date-time"},"end_date":{"type":"string","description":"End","example":"2006-05-19T05:16:19+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":6610031748536345640,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Ab nobis aut aliquam consequatur."},"insertion_code":{"type":"string","description":"Insertion code","example":"Tempora autem sunt doloremque quis at neque."},"num_questions":{"type":"integer","description":"Number of questions","example":4815583975211358744,"format":"int64"},"questions":{"type":"array","items":{"$ref":"#/definitions/GoaSurveyquestion"},"description":"Questions","example":[{"answers":[{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"}],"created_at":"1970-01-23T07:12:13+09:00","id":6267446629801075043,"image_url":"Explicabo praesentium vero.","index":1795082441528158826,"num_answers":2739410712549491260,"preselected_index":7373331723364520671,"text_en":"Iusto corporis totam blanditiis quod nisi nostrum.","text_ja":"Ut officiis voluptas dolor quibusdam illo non.","updated_at":"1995-11-17T04:28:36+09:00","weighted":true}]},"reward_id":{"type":"integer","description":"Reward ID","example":813192609111197353,"format":"int64"},"start_date":{"type":"string","description":"Start","example":"1986-02-02T17:54:21+09:00","format":"date-time"},"title_en":{"type":"string","description":"Title","example":"Dicta laborum expedita veniam ea soluta praesentium."},"title_ja":{"type":"string","description":"Title","example":"Quis quia enim quas."},"type":{"type":"integer","description":"Survey type","example":4133486462438524988,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1973-08-04T23:56:30+09:00","format":"date-time"}},"description":"A survey (default view)","example":{"author":"Harum eaque ratione quo quia est.","created_at":"2015-12-12T10:58:01+09:00","end_date":"2006-05-19T05:16:19+09:00","id":6610031748536345640,"image_url":"Ab nobis aut aliquam consequatur.","insertion_code":"Tempora autem sunt doloremque quis at neque.","num_questions":4815583975211358744,"questions":[{"answers":[{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"}],"created_at":"1970-01-23T07:12:13+09:00","id":6267446629801075043,"image_url":"Explicabo praesentium vero.","index":1795082441528158826,"num_answers":2739410712549491260,"preselected_index":7373331723364520671,"text_en":"Iusto corporis totam blanditiis quod nisi nostrum.","text_ja":"Ut officiis voluptas dolor quibusdam illo non.","updated_at":"1995-11-17T04:28:36+09:00","weighted":true}],"reward_id":813192609111197353,"start_date":"1986-02-02T17:54:21+09:00","title_en":"Dicta laborum expedita veniam ea soluta praesentium.","title_ja":"Quis quia enim quas.","type":4133486462438524988,"updated_at":"1973-08-04T23:56:30+09:00"},"required":["id","type","title_en","title_ja","image_url","num_questions","author","insertion_code","start_date","end_date","created_at","updated_at"]},"GoaSurveyCollection":{"title":"Mediatype identifier: application/vnd.goa.survey+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GoaSurvey"},"description":"GoaSurveyCollection is the media type for an array of GoaSurvey (default view)","example":[{"author":"Harum eaque ratione quo quia est.","created_at":"2015-12-12T10:58:01+09:00","end_date":"2006-05-19T05:16:19+09:00","id":6610031748536345640,"image_url":"Ab nobis aut aliquam consequatur.","insertion_code":"Tempora autem sunt doloremque quis at neque.","num_questions":4815583975211358744,"questions":[{"answers":[{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"}],"created_at":"1970-01-23T07:12:13+09:00","id":6267446629801075043,"image_url":"Explicabo praesentium vero.","index":1795082441528158826,"num_answers":2739410712549491260,"preselected_index":7373331723364520671,"text_en":"Iusto corporis totam blanditiis quod nisi nostrum.","text_ja":"Ut officiis voluptas dolor quibusdam illo non.","updated_at":"1995-11-17T04:28:36+09:00","weighted":true}],"reward_id":813192609111197353,"start_date":"1986-02-02T17:54:21+09:00","title_en":"Dicta laborum expedita veniam ea soluta praesentium.","title_ja":"Quis quia enim quas.","type":4133486462438524988,"updated_at":"1973-08-04T23:56:30+09:00"}]},"GoaSurveyanswer":{"title":"Mediatype identifier: application/vnd.goa.surveyanswer+json; view=default","type":"object","properties":{"created_at":{"type":"string","description":"Record created timestamp","example":"1981-10-20T10:38:19+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":2865455865379124148,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Aut nihil."},"index":{"type":"integer","description":"Index","example":6454395500262466694,"format":"int64"},"open_answer":{"type":"boolean","description":"Open answer","example":false},"text_en":{"type":"string","description":"Text","example":"Sunt a cupiditate."},"text_ja":{"type":"string","description":"Text","example":"Ullam molestias earum modi nemo sunt est."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1995-01-09T18:14:59+09:00","format":"date-time"}},"description":"A survey answer (default view)","example":{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},"required":["id","text_en","text_ja","image_url","index","open_answer","created_at","updated_at"]},"GoaSurveyquestion":{"title":"Mediatype identifier: application/vnd.goa.surveyquestion+json; view=default","type":"object","properties":{"answers":{"type":"array","items":{"$ref":"#/definitions/GoaSurveyanswer"},"description":"Answers","example":[{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"}]},"created_at":{"type":"string","description":"Record created timestamp","example":"1970-01-23T07:12:13+09:00","format":"date-time"},"id":{"type":"integer","description":"Unique ID","example":6267446629801075043,"format":"int64"},"image_url":{"type":"string","description":"image URL","example":"Explicabo praesentium vero."},"index":{"type":"integer","description":"Index","example":1795082441528158826,"format":"int64"},"num_answers":{"type":"integer","description":"Number of answers","example":2739410712549491260,"format":"int64"},"preselected_index":{"type":"integer","description":"Index of preselected answer","example":7373331723364520671,"format":"int64"},"text_en":{"type":"string","description":"Text","example":"Iusto corporis totam blanditiis quod nisi nostrum."},"text_ja":{"type":"string","description":"Text","example":"Ut officiis voluptas dolor quibusdam illo non."},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1995-11-17T04:28:36+09:00","format":"date-time"},"weighted":{"type":"boolean","description":"Weighted","example":true}},"description":"A survey question (default view)","example":{"answers":[{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"},{"created_at":"1981-10-20T10:38:19+09:00","id":2865455865379124148,"image_url":"Aut nihil.","index":6454395500262466694,"open_answer":false,"text_en":"Sunt a cupiditate.","text_ja":"Ullam molestias earum modi nemo sunt est.","updated_at":"1995-01-09T18:14:59+09:00"}],"created_at":"1970-01-23T07:12:13+09:00","id":6267446629801075043,"image_url":"Explicabo praesentium vero.","index":1795082441528158826,"num_answers":2739410712549491260,"preselected_index":7373331723364520671,"text_en":"Iusto corporis totam blanditiis quod nisi nostrum.","text_ja":"Ut officiis voluptas dolor quibusdam illo non.","updated_at":"1995-11-17T04:28:36+09:00","weighted":true},"required":["id","text_en","text_ja","image_url","index","weighted","num_answers","preselected_index","created_at","updated_at"]},"GoaUser":{"title":"Mediatype identifier: application/vnd.goa.user+json; view=default","type":"object","properties":{"birthdate":{"type":"string","description":"Birthdate","example":"1997-11-24T14:27:25+09:00","format":"date-time"},"created_at":{"type":"string","description":"Record created timestamp","example":"1989-08-07T17:38:01+09:00","format":"date-time"},"given_names":{"type":"string","description":"Given names","example":"Vel qui earum consectetur."},"id":{"type":"integer","description":"Unique ID","example":3056795258511096691,"format":"int64"},"last_names":{"type":"string","description":"Last names","example":"Rerum sit praesentium harum dolorem sit."},"location":{"type":"string","description":"Location","example":"Laboriosam dicta distinctio quisquam et et."},"mail":{"type":"string","description":"E-mail address","example":"Deserunt animi."},"points":{"type":"integer","description":"Points","example":618042639430257264,"format":"int64"},"status":{"type":"integer","description":"User status","example":1882844472753251332,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1975-03-21T09:51:45+09:00","format":"date-time"},"username":{"type":"string","description":"Username","example":"Dolores laboriosam."}},"description":"A user (default view)","example":{"birthdate":"1997-11-24T14:27:25+09:00","created_at":"1989-08-07T17:38:01+09:00","given_names":"Vel qui earum consectetur.","id":3056795258511096691,"last_names":"Rerum sit praesentium harum dolorem sit.","location":"Laboriosam dicta distinctio quisquam et et.","mail":"Deserunt animi.","points":618042639430257264,"status":1882844472753251332,"updated_at":"1975-03-21T09:51:45+09:00","username":"Dolores laboriosam."},"required":["id","username"]},"Registerrequest":{"title":"Registerrequest","type":"object","properties":{"fname":{"type":"string","description":"First name","example":"Necessitatibus ipsa."},"lname":{"type":"string","description":"Last name","example":"Illum sit modi eos suscipit."},"pwd":{"type":"string","description":"Login password","example":"Et neque nobis vel ut."},"referrer":{"type":"integer","description":"Referrer userid","example":2839979508388140006,"format":"int64"},"secret_answer":{"type":"string","description":"Secret answer","example":"Similique error magnam autem et."},"secret_question":{"type":"string","description":"Secret question","example":"Iure quia."},"user":{"type":"string","description":"Login username","example":"Qui qui veniam."}},"example":{"fname":"Necessitatibus ipsa.","lname":"Illum sit modi eos suscipit.","pwd":"Et neque nobis vel ut.","referrer":2839979508388140006,"secret_answer":"Similique error magnam autem et.","secret_question":"Iure quia.","user":"Qui qui veniam."},"required":["user","pwd","secret_question","secret_answer"]},"SigninAuthPayload":{"title":"SigninAuthPayload","type":"object","properties":{"password":{"type":"string","example":"At dolorum veritatis vel et ut."},"username":{"type":"string","example":"Id doloremque similique impedit."}},"example":{"password":"At dolorum veritatis vel et ut.","username":"Id doloremque similique impedit."},"required":["username","password"]},"SurveyResultPayload":{"title":"SurveyResultPayload","type":"object","properties":{"answer_id":{"type":"integer","description":"ID of answer","example":7899869225869325024,"format":"int64"},"question_id":{"type":"integer","description":"ID of question","example":5527365833994729787,"format":"int64"},"text":{"type":"string","description":"Answer text","example":"Veniam facilis."},"weight":{"type":"integer","description":"Weight","example":3094138737923387355,"format":"int64"}},"example":{"answer_id":7899869225869325024,"question_id":5527365833994729787,"text":"Veniam facilis.","weight":3094138737923387355},"required":["question_id","answer_id"]},"UpdateUsersPayload":{"title":"UpdateUsersPayload","type":"object","properties":{"birthdate":{"type":"string","description":"Birthdate","example":"1997-11-24T14:27:25+09:00","format":"date-time"},"created_at":{"type":"string","description":"Record created timestamp","example":"1989-08-07T17:38:01+09:00","format":"date-time"},"given_names":{"type":"string","description":"Given names","example":"Vel qui earum consectetur."},"id":{"type":"integer","description":"Unique ID","example":3056795258511096691,"format":"int64"},"last_names":{"type":"string","description":"Last names","example":"Rerum sit praesentium harum dolorem sit."},"location":{"type":"string","description":"Location","example":"Laboriosam dicta distinctio quisquam et et."},"mail":{"type":"string","description":"E-mail address","example":"Deserunt animi."},"points":{"type":"integer","description":"Points","example":618042639430257264,"format":"int64"},"status":{"type":"integer","description":"User status","example":1882844472753251332,"format":"int64"},"updated_at":{"type":"string","description":"Record updated timestamp","example":"1975-03-21T09:51:45+09:00","format":"date-time"},"username":{"type":"string","description":"Username","example":"Dolores laboriosam."}},"description":"A user","example":{"birthdate":"1997-11-24T14:27:25+09:00","created_at":"1989-08-07T17:38:01+09:00","given_names":"Vel qui earum consectetur.","id":3056795258511096691,"last_names":"Rerum sit praesentium harum dolorem sit.","location":"Laboriosam dicta distinctio quisquam et et.","mail":"Deserunt animi.","points":618042639430257264,"status":1882844472753251332,"updated_at":"1975-03-21T09:51:45+09:00","username":"Dolores laboriosam."},"required":["id","username"]},"UpdatepasswordUsersPayload":{"title":"UpdatepasswordUsersPayload","type":"object","properties":{"oldPassword":{"type":"string","example":"Unde nihil in qui."},"password":{"type":"string","example":"Dolores nobis rerum."}},"example":{"oldPassword":"Unde nihil in qui.","password":"Dolores nobis rerum."},"required":["password"]}},"responses":{"Conflict":{"description":"Conflict"},"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK"},"Unauthorized":{"description":"Unauthorized"},"UnprocessableEntity":{"description":"Unprocessable Entity"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"\n\n**Security Scopes**:\n  * `api:admin`: Admin API access\n  * `api:user`: User API access","name":"Authorization","in":"header"}}}